@media screen and (max-width: 751px) {
  .form-order__wrapper_width_half {
    max-width: 172px;
    display: inline-block;
    margin-right: 5px;
  }
}

@media screen and (max-width: 390px) {
  .form-order__wrapper_width_half {
    max-width: 165px;
  }
}
